@import '../../../styles/colors.scss';

.button-container {
  height: 40px;
  min-width: 150px;
  border: none;
  border-radius: 12px;
  color: #fff;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    box-shadow: -1px -1px 2px 2px #e7e7e7;
  }
  &.create {
    background-color: $primaryGreenColor;
  }
  &.delete {
    background-color: $primaryRedColor;
  }
  &.primary {
    background-color: $primaryBlueColor;
  }
  &.shuffle {
    background-color: $primaryPurpleColor;
  }
}
